
.btn-on-canavas{
    margin-right: 30px;
    border: 1px solid #7952b3;
    box-shadow:none;
   }

.btn-on-canavas:hover,
.btn-on-canavas:focus{
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}
.btn-off-canavas{
  border: 1px solid #7952b3;
  box-shadow:none;
 }

.btn-off-canavas:hover,
.btn-off-canavas:focus{
   border-color: #7952b3;
   box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
 }



.btn-univ {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(255,255,255,0.85);
  background-color: transparent;
  border: 0;
}
.btn-off-canavas:hover,
.btn-off-canavas:focus{
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}
.btn-univ:hover{
  border-color: #7952b3;
  box-shadow: 0 0 0 1px rgba(121, 82, 179, 0.25);
  background-color: rgba(121, 82, 179, 0.1);
  width: 100%;

} 

.offcanvas{
  background-image: linear-gradient(180deg, rgba(33, 37, 41, 0.01), rgba(33, 37, 41, 1) 85%),
  radial-gradient(ellipse at top left, rgba(13, 110, 253, 0.5), transparent 50%),
  radial-gradient(ellipse at top right, rgba(255, 228, 132, 0.5), transparent 50%),
  radial-gradient(ellipse at center right, rgba(112, 44, 249, 0.5), transparent 50%),
  radial-gradient(ellipse at center left, rgba(214, 51, 132, 0.5), transparent 50%);
}
aside .btn[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
aside .btn-univ::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: .5em 50%;
  
}


aside .active {
  font-weight: 600;
  color: rgba(0,0,0,0.85);
}
aside a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  color: rgba(255,255,255,0.85);
  text-decoration: none;
}

aside a:focus {
            color: rgba(21, 29, 44, 0.85);
            background-color: rgba(121, 82, 179, 0.1);
          }

.d-inline-flex {
  display: inline-flex!important;
}

.list-etab a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  color: rgba(0,0,0,0.65);
  text-decoration: none;
}
.list-etab a:hover,
.list-etab a:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(121, 82, 179, 0.1);
  width: 100%;
}

  
      
#btn-accordion:focus{
          border: 1px solid #7952b3;
          box-shadow: none;
          background-color: rgba(121, 82, 179, 0.1);
          color: #fff;
        }        

   
  #btn-accordion[aria-expanded="true"]::before {
              border: none;
              background-color: #fff;
              color: #fff;
        }

  
.fr-search::after{
  position:absolute;
  right:.4rem;
  display:flex;
  align-items:center;
  justify-content:center;
  height:1.5rem;
  padding-right:.25rem;
  padding-left:.25rem;
  font-size:.75rem;
  color:#6c757d;
  border:1px solid #dee2e6;
  border-radius:.125rem;
 }
 @media (max-width: 767.98px) {
     .fr-search {
       width: 100%;
     }
   }





.fr-search .form-control:focus {
     border-color: #7952b3;
     box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
   }



   .losue {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }